<div class="nav-container">
    <mat-list>
        <mat-list-item class="icone">
            <a [routerLink]="['']">
                <img src="../../assets/logo.png" alt="logo" style="width: 100px;">
            </a>
        </mat-list-item>
        <mat-list-item class="icone">
            <a [routerLink]="['']">
                <img src="../../assets/house-fill.svg" alt="home">
            </a>
        </mat-list-item>
        <mat-list-item class="icone">
            <a [routerLink]="['cadastroRelatorio']">
                <img src="../../assets/input-cursor-text.svg" alt="formulario">
            </a>
        </mat-list-item>
        <mat-list-item class="icone">
            <a [routerLink]="['listaEquipamentos']">
                <img src="../../assets/card-list.svg" alt="formulario">
            </a>
        </mat-list-item>
    </mat-list>
</div>