<app-logo></app-logo>
<div class="justify-content-center mt-5">
    <form [formGroup]="relatorioForm">
        <div class="row-1 painel-row">
            <mat-expansion-panel class="painel" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title class="justify-content-center">
                    <h5>Informações de Capa</h5>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="mt-5">
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>N° do Relatório</mat-label><br>
                                <input type="text" name="numeroRelatorio" formControlName="numeroRelatorio" matInput>
                            </mat-form-field>
                        </div>
                    
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Artigo</mat-label><br>
                                <input type="text" name="numeroArtigo" formControlName="numeroArtigo" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Cliente</mat-label><br>
                                <input type="text" name="nomeCliente" formControlName="nomeCliente" matInput>
                            </mat-form-field>
                        </div>
                    
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Tipo do Vaso</mat-label><br>
                                <input type="text" name="vaso" formControlName="vaso" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Data da inspeção</mat-label><br>
                                <input matInput [matDatepicker]="dataInspecao" name="dataInspecao" formControlName="dataInspecao">
                                <mat-datepicker-toggle matIconSuffix [for]="dataInspecao"></mat-datepicker-toggle>
                                <mat-datepicker #dataInspecao></mat-datepicker>
                            </mat-form-field>
                        </div>
                    
                        <div class="col">
                            <mat-form-field>
                                <mat-label>N° Inventário</mat-label><br>
                                <input type="text" name="numeroInventario" formControlName="numeroInventario" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                
                    <div class="row ml-4">
                        <button type="button" mat-raised-button (click)="fileInput.click()">Escolher Imagem de capa</button>
                        <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept="image/*">
                    </div>
                    <div class="row justify-content-center">
                        <img [src]="imageUrl" *ngIf="imageUrl" [ngStyle]="{'height':'200px','width':'200px'}">
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    
        <div class="row-1 painel-row justify-content-center">
            <mat-expansion-panel class="painel" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title class="justify-content-center">
                    <h5>Tipos de Inspeção Realizada</h5>
                  </mat-panel-title>
                </mat-expansion-panel-header>
            
                <div class="mt-5">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <mat-checkbox (change)="alterarEstadoTipoInspecao($event.checked,true)">Inspeção visual interna</mat-checkbox>
                            </div>
                            
                            <div class="row" *ngIf="inspecaoInterna">
                                <mat-form-field class="w-75">
                                    <textarea matInput
                                              name="descricaoInspecaoInterna" formControlName="descricaoInspecaoInterna"
                                              placeholder="Descreva brevemente a inspeção realizada"
                                              cdkTextareaAutosize
                                              #autosize="cdkTextareaAutosize"
                                              cdkAutosizeMinRows="1"
                                              cdkAutosizeMaxRows="5"></textarea>
                                </mat-form-field>
                            </div>
                        
                            <div class="row" *ngIf="inspecaoInterna">
                                <mat-form-field class="w-75">
                                    <textarea matInput
                                              name="resultadoInspecaoInterna" formControlName="resultadoInspecaoInterna"
                                              placeholder="Resultado da inspeção interna"
                                              cdkTextareaAutosize
                                              #autosize="cdkTextareaAutosize"
                                              cdkAutosizeMinRows="1"
                                              cdkAutosizeMaxRows="5"></textarea>
                                </mat-form-field>
                            </div>
                        
                            <div class="row" *ngIf="inspecaoInterna">
                                <mat-form-field class="w-75">
                                    <textarea matInput
                                              name="basesSuporte" formControlName="basesSuporte"
                                              placeholder="Bases e Suporte"
                                              cdkTextareaAutosize
                                              #autosize="cdkTextareaAutosize"
                                              cdkAutosizeMinRows="1"
                                              cdkAutosizeMaxRows="5"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    
                    
                        <div class="col">
                            <div class="row">
                                <mat-checkbox class="col" (change)="alterarEstadoTipoInspecao($event.checked,false)">Inspeção visual externa</mat-checkbox>
                            </div>
                        
                            <div class="row" *ngIf="inspecaoExterna">
                                <mat-form-field class="w-75">
                                    <textarea matInput
                                              name="descricaoInspecaoExterna" formControlName="descricaoInspecaoExterna"
                                              placeholder="Descreva brevemente a inspeção realizada"
                                              cdkTextareaAutosize
                                              #autosize="cdkTextareaAutosize"
                                              cdkAutosizeMinRows="1"
                                              cdkAutosizeMaxRows="5"></textarea>
                                </mat-form-field>
                            </div>
                            
                            <div class="row" *ngIf="inspecaoExterna">
                                <mat-form-field class="w-75">
                                    <textarea matInput
                                              name="resultadoInspecaoExterna" formControlName="resultadoInspecaoExterna"
                                              placeholder="Resultado da inspeção externa"
                                              cdkTextareaAutosize
                                              #autosize="cdkTextareaAutosize"
                                              cdkAutosizeMinRows="1"
                                              cdkAutosizeMaxRows="5"></textarea>
                                  </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    
        <div class="row-1 painel-row justify-content-center">
            <mat-expansion-panel class="painel" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title class="justify-content-center">
                    <h5>Dados Gerais</h5>
                  </mat-panel-title>
                </mat-expansion-panel-header>
            
                <div class="mt-5">
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Cliente Proprietário</mat-label><br>
                                <input type="text" name="clienteProprietario" formControlName="clienteProprietario" matInput>
                            </mat-form-field>
                        </div>
                    
                        <div class="col">
                            <mat-form-field>
                                <mat-label>CNPJ</mat-label><br>
                                <input type="text" name="cnpj" formControlName="cnpj" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>I.E</mat-label><br>
                                <input type="text" name="inscricaoEstadual" formControlName="inscricaoEstadual" matInput>
                            </mat-form-field>
                        </div>
                    
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Local</mat-label><br>
                                <input type="text" name="local" formControlName="local" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>CEP</mat-label><br>
                                <input type="text" name="cep" formControlName="cep" matInput>
                            </mat-form-field>
                        </div>
                    
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Cidade</mat-label><br>
                                <input type="text" name="cidade" formControlName="cidade" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    
        <div class="row-1 painel-row justify-content-center">
            <mat-expansion-panel class="painel" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title class="justify-content-center">
                    <h5>Dados do Equipamento</h5>
                  </mat-panel-title>
                </mat-expansion-panel-header>
            
                <div class="mt-5">
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>TAG</mat-label><br>
                                <input type="text" name="tagEquipamento" formControlName="tagEquipamento" matInput>
                            </mat-form-field>
                        </div>
                    
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Fabricante</mat-label><br>
                                <input type="text" name="fabricanteEquipamento" formControlName="fabricanteEquipamento" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Ano de Fabricação</mat-label><br>
                                <input type="text" name="anoFabricacao" formControlName="anoFabricacao" matInput>
                            </mat-form-field>
                        </div>
                    
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Código do Projeto</mat-label><br>
                                <input type="text" name="codigoProjeto" formControlName="codigoProjeto" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Ano de Edição</mat-label><br>
                                <input type="text" name="anoEdicao" formControlName="anoEdicao" matInput>
                            </mat-form-field>
                        </div>
                    
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Adenda</mat-label><br>
                                <input type="text" name="adenda" formControlName="adenda" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>PMTA</mat-label><br>
                                <input type="text" name="pmta" formControlName="pmta" matInput>
                            </mat-form-field>
                        </div>
                    
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Pressão de Teste Hidrostático</mat-label><br>
                                <input type="text" name="pressaoTesteHidrostatico" formControlName="pressaoTesteHidrostatico" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Fluido de trabalho</mat-label><br>
                                <input type="text" name="fluidoTrabalho" formControlName="fluidoTrabalho" matInput>
                            </mat-form-field>
                        </div>
                    
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Categoria NR13</mat-label><br>
                                <input type="text" name="categoriaNR13" formControlName="categoriaNR13" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    
        <div class="row-1 painel-row justify-content-center">
            <mat-expansion-panel class="painel" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title class="justify-content-center">
                    <h5>Dispositivos de Segurança</h5>
                  </mat-panel-title>
                </mat-expansion-panel-header>
            
                <div class="col">
                    <mat-form-field>
                        <mat-label>N° de Válvulas de Segurança</mat-label><br>
                        <input type="number" formControlName="numValvulas" (change)="atualizarNumValvulas()" min="0" matInput>
                    </mat-form-field>
                
                    <div *ngFor="let item of valvulaForms; let i = index">
                        <hr>
                        <div class="row mb-5">
                            <h4 class="col">Válvula {{i+1}}</h4>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div formArrayName="fabricanteValvula">
                                    <mat-form-field>
                                        <mat-label>Fabricante</mat-label><br>
                                        <input type="text" [formControlName]="i" matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <div class="col">
                                <div formArrayName="modeloValvula">
                                    <mat-form-field>
                                        <mat-label>Modelo</mat-label><br>
                                        <input type="text" [formControlName]="i" matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col">
                                <div formArrayName="tagValvula">
                                    <mat-form-field>
                                        <mat-label>TAG</mat-label><br>
                                        <input type="text" [formControlName]="i" matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                        
                            <div class="col">
                                <div formArrayName="diametroValvula">
                                    <mat-form-field>
                                        <mat-label>Diâmetro</mat-label><br>
                                        <input type="text" [formControlName]="i" matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col">
                                <div formArrayName="pressaoAjusteValvula">
                                    <mat-form-field>
                                        <mat-label>Pressão de Ajuste</mat-label><br>
                                        <input type="text" [formControlName]="i" matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                        
                            <div class="col">
                                <div formArrayName="certificadoCalibracaoValvula">
                                    <mat-form-field>
                                        <mat-label>Certificado de Calibração</mat-label><br>
                                        <input type="text" [formControlName]="i" matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col">
                                <div formArrayName="dataCalibracaoValvula">
                                    <mat-form-field>
                                        <mat-label>Data de Calibração</mat-label><br>
                                        <input matInput [matDatepicker]="dataCalibracaoValvula" name="dataCalibracaoValvula" [formControlName]="i">
                                        <mat-datepicker-toggle matIconSuffix [for]="dataCalibracaoValvula"></mat-datepicker-toggle>
                                        <mat-datepicker #dataCalibracaoValvula></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        
                            <div class="col">
                                <div formArrayName="localInstalacaoValvula">
                                    <mat-form-field>
                                        <mat-label>Local de Instalação</mat-label><br>
                                        <input type="text" [formControlName]="i" matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <hr>
                
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Nota</mat-label><br>
                                <input type="text" name="notaSeguranca" formControlName="notaSeguranca" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            
            </mat-expansion-panel>
        </div>
    
        <div class="row-1 painel-row justify-content-center">
            <mat-expansion-panel class="painel" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title class="justify-content-center">
                    <h5>Resultado das Medições</h5>
                  </mat-panel-title>
                </mat-expansion-panel-header>
            
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Corpo</mat-label><br>
                            <input type="text" name="corpo" formControlName="corpo" matInput>
                        </mat-form-field>
                    </div>
                
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Tampo Esquerdo</mat-label><br>
                            <input type="text" name="tampoEsquerdo" formControlName="tampoEsquerdo" matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field>
                            <mat-label>Tampo Direito</mat-label><br>
                            <input type="text" name="tampoDireito" formControlName="tampoDireito" matInput>
                        </mat-form-field>
                    </div>
                </div>
            
            </mat-expansion-panel>
        </div>
    
        <div class="row justify-content-center">
            <div class="botao">
                <button mat-raised-button>Gerar Relatório</button>
            </div>
        </div>
    </form>
</div>