.botao {
    margin-top: 30px;
    margin-bottom: 50px;
}

.painel {
    width: 50vw;
    min-height: 60px;
    background-color: rgb(235, 235, 235);
}

.painel-row {
    margin-bottom: 40px;
}

mat-form-field {
    width: 70%;
}