<app-logo></app-logo>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="numItem">
        <th [ngStyle]="{'background-image':'linear-gradient(to bottom,#000080,#373777)','color':'white'}" mat-header-cell *matHeaderCellDef> Nº </th>
        <td mat-cell *matCellDef="let element"> {{element.numItem}} </td>
    </ng-container>

    <ng-container matColumnDef="numRelatorio">
        <th [ngStyle]="{'background-image':'linear-gradient(to bottom,#000080,#373777)','color':'white'}" mat-header-cell *matHeaderCellDef> Nº Relatório </th>
        <td mat-cell *matCellDef="let element"> {{element.numRelatorio}} </td>
    </ng-container>

    <ng-container matColumnDef="equipamento">
        <th [ngStyle]="{'background-image':'linear-gradient(to bottom,#000080,#373777)','color':'white'}" mat-header-cell *matHeaderCellDef> Equipamento </th>
        <td mat-cell *matCellDef="let element"> {{element.equipamento}} </td>
    </ng-container>
  
    <ng-container matColumnDef="tag">
        <th [ngStyle]="{'background-image':'linear-gradient(to bottom,#000080,#373777)','color':'white'}" mat-header-cell *matHeaderCellDef> TAG </th>
        <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
    </ng-container>

    <ng-container matColumnDef="numSerie">
        <th [ngStyle]="{'background-image':'linear-gradient(to bottom,#000080,#373777)','color':'white'}" mat-header-cell *matHeaderCellDef> Nº de Série </th>
        <td mat-cell *matCellDef="let element"> {{element.numSerie}} </td>
    </ng-container>

    <ng-container matColumnDef="fabricante">
        <th [ngStyle]="{'background-image':'linear-gradient(to bottom,#000080,#373777)','color':'white'}" mat-header-cell *matHeaderCellDef> Fabricante </th>
        <td mat-cell *matCellDef="let element"> {{element.fabricante}} </td>
    </ng-container>

    <ng-container matColumnDef="localizacao">
        <th [ngStyle]="{'background-image':'linear-gradient(to bottom,#000080,#373777)','color':'white'}" mat-header-cell *matHeaderCellDef> Localização </th>
        <td mat-cell *matCellDef="let element"> {{element.localizacao}} </td>
    </ng-container>

    <ng-container matColumnDef="dataExecucao">
        <th [ngStyle]="{'background-image':'linear-gradient(to bottom,#000080,#373777)','color':'white'}" mat-header-cell *matHeaderCellDef> Data de Execução </th>
        <td mat-cell *matCellDef="let element"> {{element.dataExecucao}} </td>
    </ng-container>

    <ng-container matColumnDef="vencimentoExterno">
        <th [ngStyle]="{'background-image':'linear-gradient(to bottom,#000080,#373777)','color':'white'}" mat-header-cell *matHeaderCellDef> Vencimento Externo </th>
        <td mat-cell *matCellDef="let element"> {{element.vencimentoExterno}} </td>
    </ng-container>

    <ng-container matColumnDef="vencimentoInterno">
        <th [ngStyle]="{'background-image':'linear-gradient(to bottom,#000080,#373777)','color':'white'}" mat-header-cell *matHeaderCellDef> Vencimento Interno </th>
        <td mat-cell *matCellDef="let element"> {{element.vencimentoInterno}} </td>
    </ng-container>

    <ng-container matColumnDef="idArquivo">
        <th [ngStyle]="{'background-image':'linear-gradient(to bottom,#000080,#373777)','color':'white'}" mat-header-cell *matHeaderCellDef> Relatório </th>
        <td mat-cell *matCellDef="let element">
            <img src="../../../assets/file-download.svg" alt="file-download" (click)="baixarRelatorio(element.idRelatorio)" class="botao-baixar-pdf">
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  
  