<mat-drawer-container class="page-container">
    <mat-drawer mode="side" opened>
        <app-header></app-header>
    </mat-drawer>
    <mat-drawer-content>
        <div class="col page">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>