<div class="h-50">

    <app-logo></app-logo>
    
    <div class="row justify-content-center">
        <div class="pr-5">
            <a [routerLink]="['cadastroRelatorio']">
                <botao-navegacao [iconeTela]="'input-cursor-text.svg'" [nome]="'Preencher formulário de relatório'"></botao-navegacao>
            </a>
        </div>

        <div>
            <a [routerLink]="['listaEquipamentos']">
                <botao-navegacao [iconeTela]="'card-list.svg'" [nome]="'Ver listas de equipamentos'"></botao-navegacao>
            </a>
        </div>
    </div>

</div>