.botao-container {
    height: 150px;
    width: 300px;
    background-image: linear-gradient(to right, #000080, #505079);
    padding: 15px;
    border-radius: 10px;
}

.nome {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(209, 209, 209);
}